@import url(http://fonts.googleapis.com/css?family=Amarante);

body {
  font-family: 'Amarante', cursive;
}

h1 {
  font-weight: bold;
  color: #99173C;
}

button {
  height: 30px;
  width: 50px;
  border-radius: 3px;
  color: white;
  border: 0;
  margin: 5px 10px;
}

.hit-button {
  background-color: #99173C;
}

.stand-button {
  background-color: black;
}

.card {
  float: left;
  border: solid 2px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  text-align: center;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.displayOff{
  display: none;
}