@import url(http://fonts.googleapis.com/css?family=Amarante);

body {
  font-family: 'Amarante', cursive;
  background-color: #A8A8A8;
}

div {
  text-align:center;
}

h1 {
  font-weight: bold;
  color: #99173C;
}

button {
  height: 30px;
  width: 50px;
  border-radius: 3px;
  color: white;
  border: 0;
  margin: 5px 10px;
}

.hit-button {
  background-color: #99173C;
}

.stand-button {
  background-color: black;
}

.reset-button {
  background-color: #99173C;
}

.card {
  display: inline-block;
  border: solid 2px black;
  border-radius: 5px;
  width: 120px;
  height: 167px;
  margin: 0 20px;
}

.hand {
  overflow: auto;
}

.displayOff {
  display: none;
}

div.hand {
  width: 100%;
  margin: auto;
  text-align:center;
}
